doctype html
head
    meta(charset='utf-8')
    title &#x67F3;&#x897F;&#x539F;&#x7684;&#x7A7A;&#x95F4;
    link(rel='icon', href='img/http-icon.png', type='png')
    link(href='stylesheets/center.css', type='text/css', rel='stylesheet')
    script(type='text/javascript',src='/javascripts/jquery-3.4.1.min.js')
.wrapper
    // 最大的容器
    .navigation
        // 导航栏
        .navigation1
            a.logo(href='center')
            a.person-center(href='#')
                img.person-center-img(src='img/center-small1.png')
                span.person-center-span &#x4E2A;&#x4EBA;&#x4E2D;&#x5FC3;
            a.myhomepage(href='homepage')
                img.myhomepage-img(src='img/center-small2.png')
                span.myhomepage-span &#x6211;&#x7684;&#x4E3B;&#x9875;
            a.goodfriend(href='QQphone')
                img.goodfriend-img(src='img/center-small3.png')
                span.goodfriend-span QQ&#x624B;&#x673A;&#x7248;
            a.game(href='qqgame')
                img.game-img(src='img/center-small4.png')
                span.game-span &#x6E38;&#x620F;
            //a.game(href='qqgame')
            //    img.game-img(src='img/center-small4.png')
            //    span.game-span &#x6E38;&#x620F;
            a.dress(href='#')
                img.dress-img(src='img/center-small5.png')
                span.dress-span &#x88C5;&#x626E;
            form(action='#', method='get')
                input.search-box(type='text', placeholder='用户/游戏/动态')
            a.exit(href='#', title='退出')
                img.exit-img(src='img/center-small6.png')
            a.setting(href='qqshezhi', title='设置')
                img.setting-img(src='img/center-small7.png')
            a.yellow(href='ltj', title='空间活动')
                img.yellow-img(src='img/yellowz.gif')
            a.headpicture(href='#')
                img.headpicture-img(src='img/center-small9.jpg')
                span.headpicture-span &#x67F3;&#x897F;&#x539F;
        .content
            // 导航栏以下全部，主要是表诉出大的背景图片
            span.whoseqzone &#x67F3;&#x897F;&#x539F;&#x7684;&#x7A7A;&#x95F4;
            a.thumbs-up-a(href='#', title='点赞')
                img.thumbs-up-img(src='img/thumb-up.png')
                span.thumbs-up-span 0
            //
              <div class="and-div">
              </div>
            .personal-qzone
                // 个人中心的内容
                .personal-qzone-center
                    .left-nav
                        // 左边的导航栏
                        ul.left-nav-ul
                            li.left-nav-li
                                a.left-nav-a1(href='#')
                                    span &#x597D;&#x53CB;&#x52A8;&#x6001;
                            li.left-nav-li
                                a.left-nav-a(href='y_diamond')
                                    span &#x9EC4;&#x94BB;&#x6D3B;&#x52A8;
                            li.left-nav-li
                                a.left-nav-a2(href='GFQQzone')
                                    span &#x5B98;&#x65B9;&#x7A7A;&#x95F4;
                            li.left-nav-li
                                a.left-nav-a3(href='delete')
                                    span &#x817E;&#x8BAF;ABCmouse
                            li.left-nav-li
                                a.left-nav-a4(href='isux')
                                    span &#x817E;&#x8BAF;ICUX
                            li.left-nav-li
                                a.left-nav-a5(href='Tencent_class')
                                    span &#x817E;&#x8BAF;&#x8BFE;&#x5802;
                            li.left-nav-li
                                a.left-nav-a6(href='qqgame')
                                    span &#x6E38;&#x620F;&#x5E94;&#x7528;
                    .middle
                        .qqmusic
                            a.qqmusic-a(href='#')
                                img(src='img/qqmusic.jpg')
                        .publish
                            input.publish-input#show_text(type='text', placeholder='说点儿什么吧')
                            input.publish-button(type='button', value='发表', onclick='left()')
                            //
                              <div class="camera">
                              <a href="#"><i class="publish-i"></i></a>
                              </div>
                              <div class="link">
                              <a href="#"><i class="link-i"></i></a>
                              </div>
                        // <div style="background-color: red; width: 300px;height: 50px;"></div>
                        //.middle-say
                        //    .user
                        //        .user-pho
                        //            img.user-pho-img(src='img/head-picture.jpg')
                        //        .user-nickname
                        //            span.user-nickname-span &#x67F3;&#x897F;&#x539F;
                        //            span.says-time 2020-6-30 9:00
                        //    hr.hr
                        //    .says-content
                        //        ul.says-content-ul
                        //            li &#x90A3;&#x5E74;&#x5404;&#x5B89;&#x5929;&#x547D;&#xFF0C;&#x6D41;&#x843D;&#x7EA2;&#x5C18;&#x4E2D;
                        //            li &#x4F60;&#x843D;&#x6B3E;&#x97F5;&#x811A;&#xFF0C;&#x9F13;&#x566A;&#x8D77;&#x4E00;&#x9635;&#x66B4;&#x98CE;
                        //            li &#x671D;&#x5929;&#x6DAF;&#x8FC7;&#x5BA2;&#xFF0C;&#x6380;&#x8D77;&#x4E00;&#x9053;&#x6697;&#x6D8C;
                        //            br
                        //            li &#x4F60;&#x65AD;&#x8A00;&#xFF0C;&#x8BD7;&#x4EBA;&#x7684;&#x7231;&#x672C;&#x8BE5;&#x65E0;&#x75BE;&#x800C;&#x7EC8;
                        //            li &#x5F53;&#x521D;&#x624B;&#x53EF;&#x6458;&#x661F;&#xFF0C;&#x83AB;&#x975E;&#x5E78;&#x798F;&#x5251;&#x8D70;&#x504F;&#x950B;
                        //            li &#x4F60;&#x82E5;&#x89C1;&#x8840;&#x5C01;&#x5589;&#xFF0C;&#x6216;&#x8BB8;&#x6211;&#x4E0D;&#x5E94;&#x6709;&#x75DB;
                        //            br
                        //            li &#x5E7D;&#x591C;&#x6E05;&#x79CB;&#xFF0C;&#x6DF1;&#x7410;&#x4F60;&#x6700;&#x65E0;&#x60C5;&#x7684;&#x77B3;&#x5B54;
                        //            li &#x5F85;&#x5019;&#x9E1F;&#x8FC1;&#x5F99;&#xFF0C;&#x5212;&#x7834;&#x4E00;&#x58F0;&#x51C4;&#x51C9;&#x5982;&#x6D2A;
                        //            li &#x6708;&#x8272;&#x51B0;&#x96D5;&#xFF0C;&#x4E0A;&#x6F14;&#x4E00;&#x573A;&#x79D2;&#x6740;&#x7231;&#x7684;&#x51B2;&#x52A8;
                        //            br
                        //            li &#x8BD7;&#x7AE0;&#x8840;&#x7EA2;&#xFF0C;&#x6392;&#x5217;&#x7A97;&#x68C2;&#x5B88;&#x5019;&#x5316;&#x5E72;&#x7684;&#x98CE;
                        //            li &#x7EA2;&#x7738;&#x6EDA;&#x52A8;&#xFF0C;&#x4EFB;&#x4F60;&#x5632;&#x8BBD;&#x62BD;&#x6CE3;&#x7684;&#x7537;&#x513F;&#x96BE;&#x4E3A;&#x82F1;&#x96C4;
                        //            li &#x6C5F;&#x6E56;&#x5C0F;&#x751F;&#xFF0C;&#x60EF;&#x4E8E;&#x8FFD;&#x9010;&#x6CA7;&#x6851;&#x9713;&#x8679;
                        //            li &#x4F60;&#x4EA6;&#x7D20;&#x7434;&#x6D88;&#x5FE7;&#xFF0C;&#x62E8;&#x5F04;&#x7E41;&#x534E;&#x4E8E;&#x638C;&#x4E2D;
                        //            br
                        //            li &#x751F;&#x547D;&#x4E4B;&#x8F7B;&#xFF0C;&#x9082;&#x9005;&#x534A;&#x751F;&#x60C5;&#x7F18;&#x5982;&#x6B64;&#x539A;&#x91CD;
                        //            li &#x5C71;&#x5357;&#x6D77;&#x5317;&#xFF0C;&#x513F;&#x5973;&#x60C5;&#x957F;&#x7EDF;&#x7EDF;&#x85CF;&#x5165;&#x56CA;&#x4E2D;
                        //            li &#x72C2;&#x6B4C;&#x75DB;&#x996E;&#xFF0C;&#x5341;&#x91CC;&#x67D4;&#x60C5;&#x6C38;&#x4E0D;&#x76F8;&#x9022;
                        //            li &#x552F;&#x4F60;&#x662F;&#x4ECE;&#xFF0C;&#x4ECA;&#x751F;&#x7684;&#x7231;&#x81EA;&#x7F1A;&#x4F5C;&#x8327;&#x5343;&#x5E74;&#x51B0;&#x5C01;
                        #show_text_span
                                //span #{row[0].text}
                        .middle-say-ltj
                            .user-ltj
                                .user-ltj-pho
                                    img.user-img-ltj(src=row[0].homejpg)
                                .user-ltj-nickname
                                    span.username-ltj-span #{row[0].nickname}
                                    span.says-time-ltj #{row[0].date}
                                .says-content-ltj
                                    marquee #{row[0].text}
                                    img.says-img(src=row[0].picture)
                            hr.hr
                        .middle-ad
                            .ad
                                span.middle-ad-span &#x5E7F;&#x544A;
                            a.ad-a(href='#')
                                img.middle-ad-img(src='img/adver3.jpg')
                                p.middle-ad-p &#x5F00;&#x59CB;&#x6E38;&#x620F;
                    .right
                        .avertisement1
                            a.avertisement1-a(href='#')
                                img(src='img/adver.jpg')
                        .avertisement2
                            a.avertisement12-a(href='#')
                                img(src='img/adver1.jpg')
                        .avertisement3
                            a.avertisement13-a(href='#')
                                img(src='img/adver2.jpg')
            .small-nav
                img.head-img(src='img/head-picture.jpg')
                img.threetoys-img(src='img/threetoys.png')
                span.head-img-span &#x67F3;&#x897F;&#x539F;
                .small-nav-div
                    ul.small-nav-ul
                        li.small-nav-li
                            a.small-nav-a(href='homepage') &#x4E3B;&#x9875;
                        li.small-nav-li
                            a.small-nav-a(href='journal') &#x65E5;&#x5FD7;
                        li.small-nav-li
                            a.small-nav-a(href='album') &#x76F8;&#x518C;
                        li.small-nav-li
                            a.small-nav-a(href='#') &#x7559;&#x8A00;&#x677F;
                        li.small-nav-li
                            a.small-nav-a(href='#') &#x8BF4;&#x8BF4;
                        li.small-nav-li
                            a.small-nav-a(href='#') &#x4E2A;&#x4EBA;&#x6863;
                        li.small-nav-li
                            a.small-nav-a(href='#') &#x97F3;&#x4E50;
                        li.small-nav-li
                            a.small-nav-a(href='#') &#x66F4;&#x591A;
script(type='text/javascript',src='/javascripts/test1.js')
